In [1]:
import os
import pandas as pd
cwd = os.path.abspath('') 
files = os.listdir(cwd)

In [2]:
cwd

'C:\\Users\\Denise\\Desktop\\LivingWagesRepo\\LivingWages-WorkingPoor\\Resources'

In [3]:
files

['.ipynb_checkpoints',
 'DLF_pars.snap.ipynb',
 'EPI Data Library - Medianaverage hourly wages Ed.csv',
 'FY10.xls',
 'FY11.xls',
 'FY12.xls',
 'FY13.xls',
 'FY14.xls',
 'FY15.xlsx',
 'FY16.xlsx',
 'FY17.xlsx',
 'FY18.xlsx',
 'FY19.xlsx',
 'hlthaff.21.2.31.pdf',
 'LivingWagesWorkingPoor.xlsx',
 'Merging 2010-2014 SNAP Excels.ipynb',
 'NHE MedicaidCHIP 1960-2019.csv',
 'parse_snap.ipynb',
 'parse_snap_complete.ipynb',
 'parse_tanf_abrams.ipynb',
 'parse_tanf_complete_abrams.ipynb',
 'SNAP',
 'SNAP_combined_2010-2014.xls',
 'SNAP_combined_2015-2019.xls',
 'TANF',
 'tanf_complete_FLY.ipynb',
 'Test 3 Merging Excels.ipynb',
 'Test 4 Merging Excels.ipynb',
 'US_A.CSV',
 'US_B.CSV']

In [13]:
df_total = pd.DataFrame()
for file in files:  # loop through Excel files
    if file.endswith('.xlsx'):
        excel_file = pd.ExcelFile(file)
        sheets = excel_file.sheet_names
        for sheet in sheets: # loop through sheets inside an Excel file
            df = excel_file.parse(sheet_name = sheet)
            df_total = df_total.append(df)
df_total.to_excel('SNAP_combined_2015-2019.xls')

In [14]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [15]:
df.head()

,Source,Article Name,Article URL,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,HealthAffairs,"National Health Expenditure Projections, 2019–...",https://www.healthaffairs.org/doi/10.1377/hlth...,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,"Guardian, The",Number of London's 'working poor' surges 70% i...,https://www.theguardian.com/society/2015/oct/2...,.,NaN